{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}
    <div class="mx-auto pt-20 max-w-4xl flex flex-col">
        {{ form_start(form) }}
            {% include 'components/dropzone.html.twig' %}
            {% include 'components/textinput.html.twig' with {'placeholder': 'Titre'} %}
            {% include 'components/textarea.html.twig' with {'placeholder': 'Description'} %}
            {% include 'components/select.html.twig' with {'options': categories} %}
            <div class="flex justify-end my-8">
                {% include 'components/submit.html.twig' with {'value': 'Upload'} %}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
