{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}
    <div class="pt-20 lg:px-40 flex flex-col">
        <form action="" method="get" class="flex flex-col justify-end">
            {% include 'components/dropzone.html.twig' %}
            {% include 'components/textinput.html.twig' with {'placeholder': 'Titre'} %}
            {% include 'components/textarea.html.twig' with {'placeholder': 'Description'} %}
            {% include 'components/select.html.twig' with {'options': categories} %}
            <div class="flex justify-end">
                {% include 'components/submit.html.twig' with {'value': 'Upload'} %}
            </div>
        </form>
    </div>
{% endblock %}
