@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.text-shadow {
    position: absolute;
    font-size: 40pt;
    filter: blur(30px);
    top: 1.5rem;
    left: auto;
}