{% block body %}
<div class="form-control mt-8">
  {{ form_widget(form.description, {'attr': {'class': 'textarea textarea-bordered', 'placeholder': placeholder, 'maxlength': 255}}) }}
  <label class="label">
  <span class="label-text-alt"></span>
    <span id="char-count" class="label-text-alt">0/255</span>
  </label> 
</div>
{% endblock %}