{% block body %}
<div class="form-control mt-8">
  <textarea class="textarea textarea-bordered" placeholder="{{ placeholder }}"></textarea>
  <label class="label">
  <span class="label-text-alt"></span>
    <span class="label-text-alt">0/255</span>
  </label> 
</div>
{% endblock %}